body{
    background:linear-gradient(#ffffff,rgb(233, 210, 172) ) ;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.Orange{
    color: rgb(255, 102, 0);
}
h1{
    font-size: 45px;
}
h4{
    font-size: 20px;
}
.flex{
    display: flex;
    position: relative;
    
}
.butterfly{
    width: 80px;
    height: 80px;
    position: absolute;
    left: 291px;
    top: 8px;
}
.half-header{
    width: 50%;
    margin-left: 50px;
    padding-right: 20px;
    margin-top: 20px;
}
p{
    text-align: justify;
}
.link{
    font-weight: 700;
    color: royalblue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 3px;
    background: linear-gradient(gold, tomato) ;
}
.link:hover{
    background: linear-gradient(tomato, gold);
}
hr{
    width: 80%;
}
h2{
    font-size: 30px;
}
.middle{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.butter2{
    width: 217px;
    height: 181px;
    position: absolute;
    right: 492px;
    top: -141px;
}
.develop{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
}
.develop:hover{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}
#full {
    border-left: 8px solid;
    border-image: linear-gradient(rgb(231, 231, 13),rgb(255, 0, 221));
    border-image-slice: 1;
}
#full:hover {
    border-left: 8px solid;
    border-image: linear-gradient(rgb(255, 0, 221),rgb(241, 226, 6));
    border-image-slice: 1;}
#baby {
    border-left: 8px solid;
    border-image: linear-gradient(rgb(255, 38, 0),rgb(43, 255, 0));
    border-image-slice: 1;
}
#baby:hover {
    border-left: 8px solid;
    border-image: linear-gradient(rgb(43, 255, 0),rgb(255, 38, 0));
    border-image-slice: 1;
}
footer {
    margin-top: 100px;
    
}
.foot{
    text-align: center;
}
